.btnLoad {
  display: block;
  width: 120px;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  background-color: rgb(219, 208, 230);
  color: blueviolet;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

.btnLoad:hover {
  background-color: blueviolet;
  color: white;
}

.btnLoad:active {
  box-shadow: 12px 3px 54px -23px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 12px 3px 54px -23px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 12px 3px 54px -23px rgba(0, 0, 0, 0.75) inset;
}
